{% extends 'mobile_sale_app/base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="breadcrumb clearfix">
                        <ul>
                            <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                                <a title="Đến trang chủ" href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                            </li>
                            <li class="icon-li"><strong>H&#236;nh thức thanh to&#225;n</strong></li>
                        </ul>
                    </div>
                    <div class="page-option">
                        <h1 class="title">
                            <span>H&#236;nh thức thanh to&#225;n</span>
                        </h1>
                        <div class="page-option-block">
                            <p style="border: 0px; margin: 20px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">1. Dịch vụ áp dụng</strong></p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                Tất cả các khách hàng mua sản phẩm thời trang, mỹ phẩm, điện tử, gia dụng... tại website
                                RUNECOM có nhu cầu giao hàng và thu tiền trực tiếp tại nhà.</p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">2. Phạm vi áp dụng</strong></p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">2.1 Giao hàng và thu tiền tận
                                    nơi miễn phí</strong></p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                Chúng tôi hỗ trợ giao hàng và thu tiền tận nơi miễn phí trong nội thành TPHCM bao gồm
                                các quận sau: Quận 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, Tân Bình, Tân Phú, Phú Nhuận, Gò Vấp,
                                Bình Thạnh.</p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">2.2 Giao hàng và thu tiền tận
                                    nơi có tính phí</strong></p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                a. Quận ngoại thành TPHCM bao gồm các quận: Quận 9, Quận 12, Quận Thủ Đức, Quận Bình
                                Tân, phí vận chuyển cho mỗi đơn hàng là 10,000 VNĐ</p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                b. Huyện ngoại thành TPHCM bao gồm các huyện: Huyện Củ Chi, Huyện Hóc Môn, Huyện Nhà Bè,
                                Huyện Bình Chánh, Huyện Cần Giờ... phí vận chuyển cho mỗi đơn hàng là 20,000 VNĐ</p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">c. Các tỉnh thành khác</strong>,
                                phí vận chuyển được tính là phí do đối tác bưu điện quy định.</p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">3. Thời gian giao hàng</strong>
                            </p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">3.1 Khu vực TPHCM, Đà Nẵng, Bình
                                    Dương</strong></p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                Thời gian giao hàng trong vòng 1-3 ngày</p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">3.2 Tỉnh thành khác</strong></p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                Thời gian giao hàng trong vòng 4-7 ngày</p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">3. Đối tác vận chuyển</strong>
                            </p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                Chúng tôi hợp tác giao hàng và thu tiền tận nơi đối với các công ty vận chuyển: Bưu Điện
                                TPHCM, Cty TNHH Thương Mại & Chuyển Phát Nhanh HT.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}