{% extends 'mobile_sale_app/base.html' %}
{% load staticfiles %}
{% block body %}

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="breadcrumb clearfix">
                        <ul>
                            <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                                <a title="Đến trang chủ" href="/" itemprop="url"><span itemprop="title">Trang chủ</span></a>
                            </li>
                            <li class="icon-li"><strong>Quy định bảo h&#224;nh</strong></li>
                        </ul>
                    </div>
                    <div class="page-option">
                        <h1 class="title">
                            <span>Quy định bảo h&#224;nh</span>
                        </h1>
                        <div class="page-option-block">
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">1. Dịch vụ áp dụng</strong></p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                Áp dụng cho tất cả các sản phẩm có dịch vụ bảo hành kèm theo như hàng công nghệ, điện
                                tử, gia dụng, đồng hồ...</p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">2. Điều kiện bảo hành</strong>
                            </p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                - Bảo hành từ 3-12 tháng theo điều kiện và chính sách bảo hành của của nhà cung cấp, thẻ
                                bảo hành được chuyển cùng sản phẩm.</p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 16px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                <strong style="border: 0px; margin: 0px; padding: 0px;">3. Địa điểm bảo hành</strong>
                            </p>
                            <p style="border: 0px; margin: 0px 0px 20px; padding: 0px; font-size: 14px; color: rgb(51, 51, 51); font-family: Arial, Tahoma, Verdana; line-height: 20px;">
                                - Quý khách vui lòng đọc thông tin nhà cung cấp, địa chỉ bảo hành ghi trên phiếu bảo
                                hành kèm theo sản phẩm.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}